@import "bootstrap";
@import "food.js";
.options-margins {
  margin-top: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.flex-item{
  padding: 20px;
}

.medium-text-area{
  height:50px;
  width:300px;
}
